/* navbar */
.navbar-default {
    background-color: #2e3532;
    border-color: transparent;
}
/* Title */
.navbar-default .navbar-brand {
    color: #e0e2db;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #969696;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #e0e2db;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #969696;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #e0e2db;
    background-color: #8b2635;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #e0e2db;
    background-color: #8b2635;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #e0e2db;
    border-bottom-color: #e0e2db;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #969696;
    border-bottom-color: #969696;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #e0e2db;
    border-bottom-color: #e0e2db;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e0e2db;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #969696;
    }
}

@media (max-width: 767px) {
    .carousel-indicators {
        visibility: hidden;
    }
    .carousel-caption {
        visibility: hidden;
    }
}
.form-control {
    border-radius: 2px;
    border-color: transparent;
}

input[type="text"]:focus {
    border-color: transparent;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
    -moz-box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
    box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
}

.jumbotron {
    background-color: #8b2635;
    color: #e0e2db;
}

.jumbotron .table {
    color: #e0e2db;
    font-weight: bold;
    border-left: transparent;
    border-right: transparent;
    border-collapse: collapse;
}

.jumbotron .table-bordered td{
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #e0e2db;
    border-top: 1px solid #e0e2db;
    border-collapse: collapse;
}​

body {
    background-image: url("img/back2.png");
    background-size: 150px;
}

.btn {
    border-radius: 2px;
}

.btn-dark {
    background-color: #8b2635;
    color: #e0e2db;
}

.btn-light {
    background-color: #2e3532;
    color: #e0e2db;
}

.btn-light:hover, .btn-light:focus {
    background-color: #1d2320;
    color: #e0e2db;
}

.btn-dark:hover {
    color: #2e3532;
}
body {
    background-color: #f7f7f7;
}

.bodyPadding {
    padding-top: 65px;
}

.landingBody {
    background-color: #0f0f0f;
}

.landingText {
    margin-top: 50px;
}

.card {
    text-decoration: none;
    color: #e0e2db;
    padding: 15px;
}
.card a {
    text-decoration: none;
    color: #e0e2db;
}
.card a:hover {
    text-decoration: none;
}
.card-primary {
    background-color: #2e3532;
    border: #2e3532;
    padding: 10px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2), 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card-secondary {
    background-color: #44355b;
    border-color: #44355b;
    padding: 10px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2), 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-primary:hover, .card-secondary:hover {
    box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.2), 6px 6px 5px 0 rgba(0, 0, 0, 0.2);
}

.card .title-icon {
    text-align: right;
}
.card .title {
    text-align: left;
}
.cardAnimation1 {
    opacity: 0;
    -webkit-animation: cardAnim 0.5s ease-in-out forwards;
    -o-animation: cardAnim 0.5s ease-in-out forwards;
    animation: cardAnim 0.5s ease-in-out forwards;
}
.cardAnimation2 {
    opacity: 0;
    -webkit-animation: cardAnim 0.5s ease-in-out forwards;
    -o-animation: cardAnim 0.5s ease-in-out forwards;
    animation: cardAnim 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    -o-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.cardAnimation3 {
    opacity: 0;
    -webkit-animation: cardAnim 0.5s ease-in-out forwards;
    -o-animation: cardAnim 0.5s ease-in-out forwards;
    animation: cardAnim 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.cardAnimation4 {
    opacity: 0;
    -webkit-animation: cardAnim 0.5s ease-in-out forwards;
    -o-animation: cardAnim 0.5s ease-in-out forwards;
    animation: cardAnim 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    animation-delay: 0.45s;
}
@keyframes cardAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes cardAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes cardAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}
.cardContainer {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.noPadding {
    padding: 0px;
}

.hrDivider {
    height: 2px;
    background-color: #2e3532;
    margin-top: 10px;
    margin-bottom: 30px;
}